<h2><%= t('beta_invite.mails.mail_to_user.message' , :app_name => BetaInviteConfig.app_name) %></h2>

<!-- <h2><%#= t('beta_invite.mails.mail_to_user.message' , :app_name => BetaInviteConfig.app_name) %><h2/> -->