<!-- <h2>Listing of beta invites</h2> -->
<%#@beta_invites.each do |b|%>
<%#=b.recipient_email%>
<!-- </br> -->
<%#end%>

<% if @beta_invites.count.zero? %>
  <div class="beta-content">
    <h3>Sorry, there have been no invites yet.</h3>
  </div>
<%else%>
  <div class="beta-content">
  	<h3>Total invites : <%=@beta_count%></h3>
  </div>
  <table class="zebra-striped">
    <thead>
    	<th>#</th>
    	<th>email-id</th>
    </thead>

    <% @beta_invites.each do |invite| %>
    	<tr>
    		<td><%=invite.id%></td>
        <td><%= mail_to( 
                  invite.recipient_email, 
                  invite.recipient_email, 
                  { :subject => t('beta_invite.mails.personal_mail_subject') 
                    #:body => t('invite_body', :user => invite.recipient_email.split('@').first.humanize ) 
                  } 
               ) %>
        </td>
    	</tr>
    <%end%>
  </table>

  <div class="float-clear"></div> 
    <div class="center">
      <%#= paginate @beta_invites%>
    </div>
  </div>
<%end%>
<%=link_to 'Back', '/'%>