<h2><%= t('beta_invite.mails.body' , :email => @beta_invite.recipient_email , 
		:app_name => BetaInviteConfig.app_name) %></h2>
<br>
<p><%= t('beta_invite.mails.total')%> :: <h2><%= t('beta_invite.mails.total_count' , :total => @total_count)%><h2></p>