/*
*= require beta_invite/bootstrap
*= require_self
*/

/* Common Styles */
html{
        background:url("/assets/beta_invite/bg.png") repeat scroll 0 0 #F5F5F5;
}

body {
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
}
.brand {}
.brand:hover {
    text-decoration: none;
}


.inline-anchor {
    font-size: 11px;
    margin: 0 4px;
}

.prepend-top {
    margin-top: 10px;
}

a, a:visited{
    text-decoration:none;
}

input.span5, textarea.span5, select.span5,
input[type="text"], input[type="password"], input[type="email"], textarea, select,
ul ul, ul ol, ol ol, ol ul{
    margin:0px;
}

.center{
    text-align:center;  
}

footer{
    padding-top:5px;
}



.beta-invite{
    background: url("/assets/beta_invite/bg.png") repeat scroll 0 0 #F5F5F5;
    padding:0px;
    margin:0px;
}
.beta-invite-page{
    height: 500px;
    margin: 0;
}
.invite-box{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;
    height: 200px;
    margin: 100px auto 0;
    padding: 15px;
    width: 800px;
    border-style:solid;
    border-width:0px;
    border-color:#fff;
    box-shadow:1px 1px 4px 2px #BEBEBE;
    -webkit-box-shadow:1px 1px 4px 2px #BEBEBE;
    -moz-box-shadow:1px 1px 4px 2px #BEBEBE;
}
.invitation input[type="text"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #789DAF;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
    color: #EEEEEE;
    float: left;
    font-size: 14px;
    height: 14px;
    margin-left: 10px;
    padding: 16px 17px 16px 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    width:300px;
}  
.invitation:focus{
    color:#FFFFFF;
}

.clearfix{
    width:516px;
}

.sign-up-button {
    __background: -moz-linear-gradient(0% 100% 90deg, #BF3604, #F25D07) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(0% 100% 90deg, #0491BF, #5ED3F9) repeat scroll 0 0 transparent;

    background: #BF3604; /* Old browsers */
    background: -moz-linear-gradient(0% 100% 90deg, #0491BF, #5ED3F9); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ED3F9), color-stop(60%,#0491BF), color-stop(100%,#0491BF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0% 100% 90deg, #0491BF, #5ED3F9); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0% 100% 90deg, #0491BF, #5ED3F9); /* Opera 11.10+ */
    background: -ms-linear-gradient(0% 100% 90deg, #0491BF, #5ED3F9); /* IE10+ */
    background: linear-gradient(0% 100% 90deg, #0491BF, #5ED3F9); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0491BF', endColorstr='#5ED3F9',GradientType=0 ); /* IE6-9 */


    __border-color: #F58D51 -moz-use-text-color -moz-use-text-color #F58D51;
    border-color: #52BCF5 transparent transparent #52A1F5;
    border-color: #52BCF5 -moz-use-text-color -moz-use-text-color #52A1F5;

    border-radius: 0 30px 30px 0;
    border-right: medium none;
    border-style: solid none none solid;
    border-width: 1px medium medium 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    float: left;
    font-size: 20px;
    height: 48px;
    margin-left: -2px;
    padding: 12px 30px 12px 20px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.invite-btn{
    /* height: 48px;*/
}


.beta-invite h1{
    color: #ffffff; /*#EDEDED;*/
    font-size: 42px;
    margin-top: 5px;
    text-align: center;
    text-shadow: 1px 2px 1px #2F3030;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: bold;
    border: 0 none;
    font-family: inherit;
    padding: 0;
    font-style: normal;
}

.email-box{
    width:510px;
    margin:50px auto 0px;
}
.email-box h3{
    color: #A6A6A6;
    font-size: 17px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
}


.footer{
    color: #858585;
    padding-top: 3px;
    text-align: center;
}

.footer a{
    color: #9F9F9F;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.footer a:visited{
    text-decoration: none;
}

.footer a:hover{
    color: #747474;
    text-decoration: none;
}



#info{
    margin-top:10px;
}


/*dialog box*/
.apps-form{}
#info{
    margin: 0px 10px 0px 28px;    
}

/*@author :: kaushik*/
.home-link{
    padding-top:8px;
    padding-left:20px;
    width:85%;
    text-align: right;
}

.beta-content{
    padding-left:20px;
    text-align: center;
}


.table-content{
    width : 75%;
    text-align:center;
    padding-top:10px;
    margin:0 auto;
}









